body{
  margin:0px;
  font-family: "Roboto", sans-serif;
}
.header,
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1f2937;
}
.links *{
  display:flex;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.Logo-text{
  font-size: 24px;
  color: #f9faf8;
}
.footer{
  font-size: 18px;
  color: #f9faf8;
}
.Logo-text{
  font-weight: bold;
}

.intro{
  display: flex;
  background: #1f2937;
  color: #f9faf8;
}